h2{
    font-size: 2rem;
    margin-left: 4%;
    padding-top: 5%;
    color: #58D68D;
}

.para1{
    margin: 5%;
    margin-top: -1%;
    font-size: large;
    letter-spacing: 2px;
    word-spacing: 4px;
    border-left: solid 5px #64ffda ;
    padding: 4%;
    margin-left: 14%;
}

@media only screen and (max-width: 1300px) {
    .para1{
        margin-left: 14%;

    }
 }

 @media only screen and (max-width: 900px){
     .info{
        margin: auto;
        font-size: 0.9rem;
     }

     .parat{
         text-align: center;
     }
    
    .compe{
     justify-content: center;
    }

    .para1{
        border-left: none;
        
    }

    h2{
        font-size: 1.5rem;
    }
    
 }

 @media only screen and (max-width: 440px){


    .langage{
        border-bottom: solid 2px #64ffda ;
    }

    .techno{
        margin-top:2% ;
    }
 }
