a{
  text-decoration: none;
  text-align: center;
}

.link{
  color: #64ffda;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 2%;
  margin-left: 41%;
  margin-right: 41%;
  cursor: pointer;
  border: 1px solid #64ffda;
  border-radius: 4px;
}

.link:hover{
  background-color: #112240
}

footer{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
  font-size: small;
  color: #AEB6BF;
}

html{
  scroll-behavior: smooth;

}

@media only screen and (max-width: 780px) {

  .link{
    
  margin-left: 22%;
  margin-right: 22%;
  }
}

