.comp{
    margin-bottom: 9%;
}

h2{
    font-size: 2rem;
    margin-left: 4%;
    margin-bottom: 5%;
    padding-top: 5%;
    color: #28B463;
}

h3{
    font-size: 1.5rem;
    margin-left: 3%;
    margin-bottom: 3%;
}

.date{
    margin-left: 4%;
}

.detail{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.para2{
    margin: 5%;
    margin-top: -1%;
    font-size: large;
    letter-spacing: 2px;
    word-spacing: 4px;
    border-left: solid 5px #64ffda ;
    padding: 2.5%;
    margin-left: 14%;
}

.dis{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
}

.lang{
    font-size: 1.4rem;
}

.frame{
    font-size: 1.4rem;
}

.shies{
    font-size: 1.1rem;

}

.shies1{
    font-size: 1.1rem;
}

.croix{
    color: #28B463;
}

@media screen and (max-width:900px){
    .para2{
        border-left: none;
        text-align: center;
        margin: auto;
    }
}